{{ $featured_image := .Param "featured_image"}}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
      {{ partial "site-navigation.html" .}}
      <div class="tc pv5 ph3">
        <h1 class="f2 fw2 white-90 mb0 lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2 class="fw3 f5 f3-l white-80 measure-wide-l center mt3">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="bg-black">
      {{ partial "site-navigation.html" . }}
    </div>

    <div class="ph4 w-100 center">
      <section class="cf pv3 pv4-l f4 mw8 center">
        <h1 class="f1">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2 class="cf ph3 pa4-ns pv3 pv4-l f4 mw8 center lh-copy mid-gray">
            {{ . }}
          </h2>
        {{ end }}
      </section>
    </div>
  </header>
{{ end }}
